In [1]:
import requests
from openpyxl import load_workbook
import pandas as pd 
import os

In [2]:
def saveExcelfromURL(url, fileName, path, sheetName, skipRow):
    global df    
    resp = requests.get(url)
    output = open(fileName, 'wb')
    output.write(resp.content)
    output.close()
    wb = load_workbook(fileName)
    filePath = (path + fileName)
    
    data = pd.read_excel(filePath, sheetName, skiprows=skipRow, index_col=None, na_values=['NA'])
    df = pd.DataFrame(data)

In [41]:
## as of 2/27/18

url = "http://www.p12.nysed.gov/accountability/documents/AccountabilityStatus2017-18.xlsx"
fileName = "AccountabilityStatus2017-18.xlsx"
##path = "//52CCIFS00/Users$/floza/My Documents/OSFEP/Data Scrape_cDriveCopy/"
path = "/Users/floza/Documents/GitHub/NYCDOE-Data/workbooks/"
sheetName = "Sheet1"
skipRow = 4

saveExcelfromURL(url, fileName, path, sheetName, skipRow)
df_SY18 = df

In [42]:
## as of 12/20/16

url = "http://www.p12.nysed.gov/accountability/documents/AccountabilityStatus2016-17.xlsx"
fileName = "AccountabilityStatus2016-17.xlsx"
##path = "//52CCIFS00/Users$/floza/My Documents/OSFEP/Data Scrape_cDriveCopy/"
sheetName = "Sheet1"
skipRow = 4

saveExcelfromURL(url, fileName, path, sheetName, skipRow)
df_SY17 = df

In [43]:
df_SY17 = df_SY17.drop(df_SY17.columns[0], axis=1) #axis 1 = columns
df_SY18 = df_SY18.drop(df_SY18.columns[0], axis=1) #axis 1 = columns

In [44]:
df_SY17 = df_SY17.drop(df_SY17.iloc[:, 1:7], axis=1) #axis 1 = columns

In [45]:
sedACCT = pd.merge(df_SY18, df_SY17, how='left', on='BEDS_CD')

In [47]:
print (sedACCT.shape)
sedACCT = sedACCT[(sedACCT['BEDS_CD']  > 300000000000) & (sedACCT['BEDS_CD'] < 400000000000)]
sedACCT.shape

(5383, 15)

(1796, 15)

In [48]:
path = "/Users/floza/Documents/GitHub/NYCDOE-Data/workbooks/"
fileName = "SED_Accountability" + ".xls"

sedACCT.to_excel(path+fileName)

In [49]:
fileName = "LCGMS_SchoolData.xlsx"
sheetName = "Worksheet1"

df = pd.read_excel(io=fileName, sheet_name=sheetName)
lcgms = df

In [50]:
lcgms.rename(columns={'ATS System Code': 'DBN', 'BEDS Number': 'BEDS_CD'}, inplace=True)

In [51]:
lcgms_short = lcgms.iloc[:,0:4]

In [52]:
sedACCT = pd.merge(sedACCT, lcgms_short, how='left', on='BEDS_CD')
sedACCT = sedACCT.drop(sedACCT.iloc[:, -2:], axis=1) #axis 1 = columns
sedACCT.head()

,BEDS_CD,NAME,TYPE,DBEDS,DNAME,BOCES,2015-16 School Title I Status,"2017-18 Accountability Status, effective January 10, 2018","Re-Identified Status, effective February 26, 2017",Persistently Struggling/ Struggling School Status_x,2014-15 School Title I Status,2015-16 Accountability Status,2016-17 Accountability Status,Re-Identified Status,Persistently Struggling/ Struggling School Status_y,DBN
0,310100010000,NYC GEOG DIST # 1 - MANHATTAN,3,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,NaN,Focus District,Re-identified Focus District,NaN,NaN,Focus District,Focus District,Re-identified Focus District,NaN,NaN
1,310100010015,PS 15 ROBERTO CLEMENTE,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Priority School,Focus School,NaN,NaN,01M015
2,310100010019,PS 19 ASHER LEVY,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Good Standing,Good Standing,NaN,NaN,01M019
3,310100010020,PS 20 ANNA SILVER,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Good Standing,Good Standing,NaN,NaN,01M020
4,310100010034,PS 34 FRANKLIN D ROOSEVELT,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Good Standing,Good Standing,NaN,NaN,01M034

In [53]:
def vlookup(df1, df2, matchID, varLookup):
    df1 = df1[[matchID, varLookup]]
    return pd.merge(df2, df1, how='left', on=matchID)

In [107]:
def vlookup2(df1, df2, matchID, *varLookup):
    print(len(varLookup))
    i=0
    while i < len(varLookup):
        df1 = df1[[matchID, varLookup[i]]]
        print(varLookup[i])
        print(df1)
        return pd.merge(df2, df1, how='left', on=matchID) 
        print(df2)
        i+=1

In [70]:
fileName = "Title I_Master.xlsx"
sheetName = "Title I"

df = pd.read_excel(io=fileName, sheet_name=sheetName,skiprows=5)
titleI = df

In [71]:
titleI.rename(columns={'FY18 Location': 'DBN'}, inplace=True)

In [72]:
sedACCT2 = sedACCT.copy()

In [73]:
sedACCT2 = vlookup(titleI, sedACCT2, "DBN", "SY19_Title I Program \n Type")

In [74]:
sedACCT2 = vlookup(titleI, sedACCT2, "DBN", "FY18_Title I Program \n Type")
sedACCT2 = vlookup(titleI, sedACCT2, "DBN", "FY17_Title I Program \n Type")
sedACCT2 = vlookup(titleI, sedACCT2, "DBN", "FY16_Title I Program \n Type")

In [75]:
list(titleI.columns.values)

['DBN',
 'School Name',
 'SY19_School Name',
 'SY19_Status',
 'SY19_Free Lunch Poverty %',
 'SY19_County Poverty % Cutoff',
 'SY19_Title I Status',
 'SY19_Explanation of Title I Status',
 'SY19_G?',
 'SY19_Title I Program \n Type',
 'SY19_Audited Register',
 'SY19_Projected Register for New schools',
 'SY19_Projected Register for Phase-In',
 'SY19_Poverty Count',
 "SY19_Title I School's Poverty Count",
 'SY19_Students in Temporary Housing (STH)',
 'SY19_Title I Eligibles',
 'SY19_Additional Title I Eligibles Phase-In',
 'SY19_Free Lunch Type \n (USM/CEP)',
 'SY19_Total Title I Pupil Count',
 'SY19_Title I Weight',
 'SY19_Weighted Title I Count',
 'SY19_Initial\n Title I Entitlement',
 'SY19_Initial\n Total Minimum Parent\n Involvement\n Commitment \n (1%)',
 'SY19_Title I Allocation (Less Parent Involvement)',
 'SY19_Sequestration Amount',
 'FY18_School Name',
 'FY18_Status',
 'FY18_Free Lunch Poverty %',
 'FY18_County Poverty % Cutoff',
 'FY18_Title I Status',
 'FY18_Explanation of Title I Status',
 'FY18_G?',
 'FY18_Title I Program \n Type',
 'FY18_Audited Register',
 'FY18_Projected Register for New schools',
 'FY18_Projected Register for Phase-In',
 'FY18_Poverty Count',
 "FY18_Title I School's Poverty Count",
 'FY18_Students in Temporary Housing (STH)',
 'FY18_Title I Eligibles',
 'FY18_Additional Title I Eligibles Phase-In',
 'FY18_Free Lunch Type \n (USM/CEP)',
 'FY18_Total Title I Pupil Count',
 'FY18_Title I Weight',
 'FY18_Weighted\n Title I Count',
 'FY18_Initial\n Title I Entitlement',
 'FY18_Initial\n Total Minimum Parent\n Involvement\n Commitment \n (1%)',
 'FY18_Title I Allocation (Less Parent Involvement)',
 'FY18_Sequestration Amount',
 'FY17_School Name',
 'FY17_Status',
 'FY17_Free Lunch Poverty %',
 'FY17_County Poverty % Cutoff',
 'FY17_Title I Status',
 'FY17_Explanation of Title I Status',
 'FY17_G?',
 'FY17_Title I Program \n Type',
 'FY17_Audited Register',
 'FY17_Projected Register for New schools',
 'FY17_Projected Register for Phase-In',
 'FY17_Poverty Count',
 "FY17_Title I School's Poverty Count",
 'FY17_Students in Temporary Housing (STH)',
 'FY17_Title I Eligibles',
 'FY17_Additional Title I Eligibles Phase-In',
 'FY17_Free Lunch Type \n (USM/CEP)',
 'FY17_Total Title I Pupil Count',
 'FY17_Title I Weight',
 'FY17_Weighted\n Title I Count',
 'FY17_RevisedTitle I Entitlement',
 'FY17_RevisedTotal Minimum Parent Involvement Commitment (1%)',
 'FY17_RevisedTitle I Allocation (Less Parent Involvement)',
 'FY17_InitialTitle I Entitlement',
 'FY17_InitialTotal Minimum Parent Involvement Commitment (1%)',
 'FY17_InitialTitle I Allocation (Less Parent Involvement)',
 'FY17_AdjustedTitle I Entitlement',
 'FY17_AdjustedTotal Minimum Parent Involvement Commitment (1%)',
 'FY17_AdjustedTitle I Allocation (Less Parent Involvement)',
 'FY17_Sequestration Amount',
 'FY16_School Name',
 'FY16_Status',
 'FY16_Free Lunch Poverty %',
 'FY16_County Poverty % Cutoff',
 'FY16_Title I Status',
 'FY16_G?',
 'FY16_Explanation of Title I Status',
 'FY16_Title I Program \n Type',
 'FY16_Audited Register',
 'FY16_Projected Register for New schools',
 'FY16_Projected Register for Phase-In',
 'FY16_Universal Free Lunch Type \n (USM)',
 'FY16_Poverty Count',
 "FY16_Title I School's Poverty Count",
 'FY16_Students in Temporary Housing (STH)',
 'FY16_Title I Eligibles',
 'FY16_Additional Title I Eligibles Phase-In',
 'FY16_Total Title I Pupil Count',
 'FY16_Title I Weight',
 'FY16_Weighted\n Title I Count',
 'FY16_Title I Entitlement',
 'FY16_Total Minimum Parent\n Involvement\n Commitment \n (1%)',
 'FY16_Sequestration Amount']

In [76]:
sedACCT2.head()

,BEDS_CD,NAME,TYPE,DBEDS,DNAME,BOCES,2015-16 School Title I Status,"2017-18 Accountability Status, effective January 10, 2018","Re-Identified Status, effective February 26, 2017",Persistently Struggling/ Struggling School Status_x,2014-15 School Title I Status,2015-16 Accountability Status,2016-17 Accountability Status,Re-Identified Status,Persistently Struggling/ Struggling School Status_y,DBN,SY19_Title I Program Type,FY18_Title I Program Type,FY17_Title I Program Type,FY16_Title I Program Type
0,310100010000,NYC GEOG DIST # 1 - MANHATTAN,3,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,NaN,Focus District,Re-identified Focus District,NaN,NaN,Focus District,Focus District,Re-identified Focus District,NaN,NaN,NaN,NaN,NaN,NaN
1,310100010015,PS 15 ROBERTO CLEMENTE,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Priority School,Focus School,NaN,NaN,01M015,SWP,SWP,SWP,SWP
2,310100010019,PS 19 ASHER LEVY,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Good Standing,Good Standing,NaN,NaN,01M019,SWP,SWP,SWP,SWP
3,310100010020,PS 20 ANNA SILVER,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Good Standing,Good Standing,NaN,NaN,01M020,SWP,SWP,SWP,SWP
4,310100010034,PS 34 FRANKLIN D ROOSEVELT,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Good Standing,Good Standing,NaN,NaN,01M034,SWP,SWP,SWP,SWP

In [143]:
def vlookup3(df1, df2, matchID, *varLookup):
    print((varLookup))
    i=0
    while i <= len(varLookup):
        df1 = df1[[matchID, varLookup[i]]]
        print(varLookup[i])
        #print(df1)
        return pd.merge(df2, df1, how='left', on=matchID) 
        i+=1
    #print(df2)
    

sedACCT3 = sedACCT.copy()
sedACCT3 = vlookup3(titleI, sedACCT3, "DBN", "SY19_Title I Program \n Type", "FY18_Title I Program \n Type","FY17_Title I Program \n Type")

('SY19_Title I Program \n Type', 'FY18_Title I Program \n Type', 'FY17_Title I Program \n Type')
SY19_Title I Program
 Type

In [141]:
sedACCT3.head()

,BEDS_CD,NAME,TYPE,DBEDS,DNAME,BOCES,2015-16 School Title I Status,"2017-18 Accountability Status, effective January 10, 2018","Re-Identified Status, effective February 26, 2017",Persistently Struggling/ Struggling School Status_x,2014-15 School Title I Status,2015-16 Accountability Status,2016-17 Accountability Status,Re-Identified Status,Persistently Struggling/ Struggling School Status_y,DBN,SY19_Title I Program Type
0,310100010000,NYC GEOG DIST # 1 - MANHATTAN,3,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,NaN,Focus District,Re-identified Focus District,NaN,NaN,Focus District,Focus District,Re-identified Focus District,NaN,NaN,NaN
1,310100010015,PS 15 ROBERTO CLEMENTE,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Priority School,Focus School,NaN,NaN,01M015,SWP
2,310100010019,PS 19 ASHER LEVY,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Good Standing,Good Standing,NaN,NaN,01M019,SWP
3,310100010020,PS 20 ANNA SILVER,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Good Standing,Good Standing,NaN,NaN,01M020,SWP
4,310100010034,PS 34 FRANKLIN D ROOSEVELT,1,310100010000,NYC GEOG DIST # 1 - MANHATTAN,NaN,Schoolwide Program,Good Standing,NaN,NaN,Schoolwide Program,Good Standing,Good Standing,NaN,NaN,01M034,SWP

In [158]:
def vlookup4(df1, df2, matchID, varLookup):
#     var = [matchID]
#     varLookup2 = var.append[varLookup]
#     print((varLookup))
    df1 = df1[[matchID, varLookup]]
    print(df1)
    return pd.merge(df2, df1, how='left', on=matchID) 
    #print(df2)
    

sedACCT3 = sedACCT.copy()
varLookup = ["SY19_Title I Program \n Type", "FY18_Title I Program \n Type","FY17_Title I Program \n Type"]
for var in varLookup:
    print(var)
    sedACCT3 = vlookup4(titleI, sedACCT3, "DBN", varLookup)

SY19_Title I Program
 Type

ValueError: setting an array element with a sequence

In [151]:

var = ["DBN", "SY19_Title I Program \n Type", "FY18_Title I Program \n Type","FY17_Title I Program \n Type"]
df1 = titleI[var]
df1.head()

,DBN,SY19_Title I Program Type,FY18_Title I Program Type,FY17_Title I Program Type
0,01M015,SWP,SWP,SWP
1,01M019,SWP,SWP,SWP
2,01M020,SWP,SWP,SWP
3,01M034,SWP,SWP,SWP
4,01M063,SWP,SWP,SWP